<div class="post card">
  <a href="/dashboard">Back to Dashboard</a>
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="card-body">
    <div>
      <input type="text" name="post-title" value="{{post.title}}" />
      <br /><br />
      <textarea id="post-text" name="post-text"></textarea>
      <p>{{post.post_text}}</p>
    </div>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}}
        {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete post</button>

  </form>
</div>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">Add comment</button>
  </div>
</form>

<script src="/js/edit.js"></script>