{{! Styling for posts }}
<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <h4>{{user.username}}</h4>
    <span>{{format_date created_at}}</span>
    <p>{{post_text}}</p>
  </div>

  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
    </div>
  </form>
{{/if}}

{{! Styling for comments }}
<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>

<script src="/javascript/comment.js"></script>